html {
width: 100%;
height: 100%;
}

body {
    margin: 1rem;
    background-color: black;
    color: whitesmoke;
    font-size: 5rem;
    overflow: hidden;
   background: url("../img/flames.gif") no-repeat center/cover;

}
.grid-container { 
display:grid; 
grid-template-columns: 1fr 1fr 1fr;
gap: 2rem;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
margin: 15% 4rem 0 4rem;
}
.last {
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(220, 200, 180);
}
